[*]
charset = utf-8
end_of_line = lf

[*.cs]
charset = utf-8
end_of_line = lf

csharp_style_namespace_declarations=file_scoped:suggestion

[*.csproj]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space

[*.slnx]
charset = utf-8
end_of_line = lf
